.drop-shadow {
    -fx-border-radius: 50px;
    -fx-background-color: #FFF;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0, 4);
}
.inner-shadow{
    -fx-background-color: #FFFFFF; /* White background */
    -fx-background-insets: 0;      /* Remove additional padding */
    -fx-background-radius: 0;      /* No rounded corners */
    -fx-border-color: black;       /* Outer border color */
    -fx-border-radius: 20px;          /* No rounded corners on border */
    -fx-border-width: 1px;         /* Thin outer border */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25),4,0,0,4);
}
.button {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #F8DC93;
}

